/* main styles */

body{
    background:#cccccc none repeat;
    padding:0px;
    margin:0px;
    font-size:15px;
    background:#ccc none repeat;
}
#container{
    width: 1060px;
    margin: 0px auto;
    padding: 0px;
    min-height: 640px;
    background: #fff;
    box-shadow: 10px 10px 5px #888888;
    border:1px solid #005fbf;
    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;
    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;
    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}
#header-nav{
    width: 1060px;
    margin: 0px auto;
    padding:0px;
}
#top-navigation{
    background:-moz-linear-gradient(center top , #005FBF 5%, #003F7F 100%) repeat scroll 0 0 #005FBF;
    color:#000;
    height:60px;
    padding-top:5px;
}
#footer-wrapper{
    background:-moz-linear-gradient(center top , #005FBF 5%, #003F7F 100%) repeat scroll 0 0 #005FBF;
    color:#000;
    height:60px;
}
#footer-nav{
    width:1060px;
    margin:0px auto;
    color:#fff;
}
.nav li{
    list-style:none;
    display:inline;
    font-size:20px;
    padding:10px;
}
.nav li a {
    text-decoration:none;
    color:#fff;
}
.nav li a:hover{
    background:none repeat scroll 0 0 #000;
    padding:10px;
    color:#fff;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
#application-content{
    padding:10px;
    margin:4px;
}
#grid table td{
    padding: 5px;
}
input[type="text"]:hover,input[type="select"]:hover{
    border:2px solid #888;
}
input[type="text"]:active,input[type="select"]:active{
    border:2px solid #888;
    background: #F7DFE9;
}
.form-select{
    width:220px;
}
#filter_roll_no{
    width:30px;
}
.form-item{
    padding:5px;
    width:220px;
    float:left;
}
.marks-wrapper{
    padding:5px 15px;
}
.student-list{
    width:250px;
}
.form-item-wrapper{
    width:210px;
    float:left;
}
#filter_sn{
    width:100px;
}
