/* main styles */
body{
    background:#cccccc none repeat;
    padding:0px;
    margin:0px;
    font-size:15px;
    background:#ccc none repeat;
}
#container{
    width: 1060px;
    margin: 0px auto;
    padding: 0px;
    min-height: 640px;
    background: #fff;
    box-shadow: 10px 10px 5px #888888;
    border:1px solid #005fbf;
    -moz-border-radius-bottomleft:0px;
    -webkit-border-bottom-left-radius:0px;
    border-bottom-left-radius:0px;
    -moz-border-radius-bottomright:0px;
    -webkit-border-bottom-right-radius:0px;
    border-bottom-right-radius:0px;
    -moz-border-radius-topright:0px;
    -webkit-border-top-right-radius:0px;
    border-top-right-radius:0px;
    -moz-border-radius-topleft:0px;
    -webkit-border-top-left-radius:0px;
    border-top-left-radius:0px;
}
#header-nav{
    width: 1060px;
    margin: 0px auto;
    padding:0px;
}
#top-navigation{
    background:-moz-linear-gradient(center top , #005FBF 5%, #003F7F 100%) repeat scroll 0 0 #005FBF;
    color:#000;
    height:60px;
    padding-top:5px;
}
#footer-wrapper{
    background:-moz-linear-gradient(center top , #005FBF 5%, #003F7F 100%) repeat scroll 0 0 #005FBF;
    color:#000;
    height:60px;
}
#footer-nav{
    width:1060px;
    margin:0px auto;
    color:#fff;
}
.nav li{
    list-style:none;
    display:inline;
    font-size:20px;
    padding:10px;
}
.nav li a {
    text-decoration:none;
    color:#fff;
}
.nav li a:hover, .active{
    background:none repeat scroll 0 0 #000;
    padding:10px;
    color:#fff;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
#application-content{
    padding:10px;
    margin:4px;
}
#grid table td{
    padding: 5px;
}
input[type="text"]:hover,input[type="select"]:hover{
    border:2px solid #888;
}
input[type="text"]:active,input[type="select"]:active{
    border:2px solid #888;
    background: #F7DFE9;
}
.form-select{
    width:220px;
}
#filter_roll_no,#filter_phone,#filter_year,#filter_grade{
    width:120px;
}
.form-item{
    padding:5px;
    width:220px;
    float:left;
}
.marks-wrapper{
    padding:5px 15px;
}
.student-list{
    width:250px;
}
.form-item-wrapper{
    width:140px;
    padding:10px;
    float:left;
}
.student-info-wrapper{
    width:180px;
    padding:10px;
    float:left;
}
#filter_sn{
    width:100px;
}
.errors{
    margin:0px;
    padding:0px;
}
.errors li{
    list-style:none; 
    font-size:12px;
    color:#cd0a0a;
    font-weight: lighter;
}
.dashboard-item{
    border: 1px solid #005FBF;
    padding:35px 10px;
    text-align: center;
    margin:15px;
    width:200px;
    height:40px;
    float:left;
    background: #ccc;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 5px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 5px rgba(50, 50, 50, 0.75);
}
.dashboard-item a{
    text-decoration: none;
    font-size:25px;
    padding:10px;
    color:#005fbf;
}
.permitted{
    background: url("../images/tick-on-white.gif") no-repeat scroll 0 0 transparent;
    text-decoration: none;
}

.notpermitted {
    background: url("../images/cross-on-white.gif") no-repeat scroll 0 0 transparent;
    text-decoration: none;
}
.clear{
    clear:both;
}
#divdropwrapper {
    background:-moz-linear-gradient(center top , #005FBF 5%, #003F7F 100%) repeat scroll 0 0 #005FBF;
    margin:0 auto;
    padding:10px;
    color:#fff;
}
.form-select{
    width:100px;
}
.desc-wrapper{
    text-align: justify;
}
.student-info{
    font-size:18px;
    font-weight: bold;
    padding:5px;
}
.info-item{
    width:340px;
    float:left;
}
#roll-number{
    width:50px;
}
.form-long-select{
    width:200px;
    background: #ccc;
}
.search-item-wrapper{
    width:250px;
    text-align:center;
    float:left;
}
.search-item-wrapper label,.student-info-wrapper label{
    padding:0px 15px;
    float:left;
}
.marks-add-wrapper{
    padding:6px;
    margin:6px;
    font-size:20px;
    font-weight:bold;
    float:left;
}
#dashboard{
    overflow:auto;
    padding:10px;
}