@charset "utf-8";
.clear{
    clear:both;
}
#divdropwrapper {
    background:#CCC;
    margin:0 auto;
    padding:10px;
}
.form-select{
    width:100px;
}



table
{
    border-collapse:collapse;
}

table, td, th
{
    border:1px solid #666;
}
th
{
    background-color:#666;
    color:white;
}  
